.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
# Builds
*.apk
*.aab
*.app
FUNDING.yml.meta
Editor.meta
package.json.meta
Runtime.meta
README.md.meta
version.txt.meta
Website.meta
source.json.meta
Website/**/*.meta
LICENSE.meta
